/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --basic-font: 'Inter';
    --accent-font: 'Press Start 2P';
    --constant-weight: 400;
    --basic-weight: 400;
    --bold-weight: 700;
    --bg-color: rgba(255, 255, 255, 1);
    --basic-color: rgba(0, 0, 0, 1);
    --bg-image-medium: #d3d3d3;
    --bg-image-light: #e7e7e7;
    --bg-image-dark: #1a1a1a;
    --filling-color: rgb(255, 0, 0);
    --circuit-color: rgba(0, 0, 0, 1);
}